[Desktop Entry]
Type=Application
Name=CAJViewer
Comment=CAJViewer for Linux
TryExec=cajviewer
Exec=cajviewer %U
Icon=cajviewer
StartupNotify=true
Terminal=false
Categories=Office;
MimeType=application/cnki.caj;application/cnki.kdh;application/cnki.nh;application/cnki.teb;
